#jeu_taquin {
    width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(10, 113, 145);
}


td:hover {
    background-color: rgb(18, 69, 78) !important;
}

td {
    position: relative;
    background-color: rgb(10, 113, 145) !important;
}

button:hover {
    background-color: rgb(10, 113, 145);
}

button {
    background-color: seagreen;
}

span {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 0 auto;
}

#t_taquin {
    background-color: darkgrey;
    padding: 35px;
    border-radius: 10px;
    width: 800px;

}

.imgLogo {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    top: 0px
}

.cover {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.t_col {
    width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

._btn {
    width: 120px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
}

.info_war {
    border: 2px solid red;
    background-color: tomato;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 800px;
    border-radius: 15px;
    height: auto;
}

.info_val {
    border: 2px solid springgreen;
    background-color: seagreen;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 800px;
    border-radius: 15px;
    height: auto;
}